<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <!--
        AUTHOR NAME: Tsung Yilee
        AUTHOR EMAIL: Iliki@yandex.com
    --> 
    <link rel="stylesheet" href="../style/home.css">
</head>
<body>
    <div class="main">
        <div class="article-region">
            <img src="../resource/home/red_dragon_left.png" class="left-logo" alt="标志">
            <div class="logo-words">
                横平竖直显功力，一字多义添神秘。
            </div>
            <img src="../resource/home/red_dragon_right.png" class="right-logo" alt="标志">
        </div>
        <div class="search-region">
            <!--该区域涵盖搜索-->
            <img src="../resource/home/search_input_left.png" class="left-search-decoration" alt="标志">
            <input type="text" class="search-bar" id="searchBar" placeholder="输入单个汉字以开始检索">
            <button type="button" class="search-button" onclick="setTargetCharacter()">搜索</button>
            <img src="../resource/home/search_input_right.png" class="right-search-decoration" alt="标志">
        </div>
        <div class="card-region">
            <div class="character-card">
                <div class="card-theme">
                    汉字
                </div>
                <div class="card-content-container">
                    <div class="card-content">
                        踏入汉字之境，由拼音、笔画起步，深入词语、成语领悟其美。汉字古典雅致，诗意绵长。
                        <br>
                        <span class="theme-show">继续搜汉字</span>
                    </div>
                </div>
            </div>
            <div class="wordbook-card">
                <div class="card-theme">
                    生字
                </div>
                <div class="card-content-container">
                    <div class="card-content">
                        漫步文字之庭，儿童初识生字，如探寻宝藏。生字启蒙，助力儿童拓展视野，开启智慧之门。
                        <br>
                        <span class="theme-show">前往生字本</span>
                    </div>
                </div>
            </div>
            <div class="examine-card">
                <div class="card-theme">
                    练习
                </div>
                <div class="card-content-container">
                    <div class="card-content">
                        贯穿习题之海，夯实识字基础，激发儿童智慧，在学习与应试中游刃有余，展现自信与风采。
                        <br>
                        <span class="theme-show">前往练习册</span>
                    </div>
                </div>
            </div>
            <div class="phrase-card">
                <div class="card-theme">
                    趣词
                </div>
                <div class="card-content-container">
                    <div class="card-content">
                        AABB式词语如谜题般趣味十足。看词面猜测它们的规律，既锻炼语言能力，又培养思维敏捷。
                        <br>
                        <span class="theme-show">前往查趣词</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/home.js"></script>
</body>
</html>