body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../resource/character_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body .article-region,
html .article-region {
  flex: 0.3;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body .article-region .left-logo,
html .article-region .left-logo,
body .article-region .right-logo,
html .article-region .right-logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  width: auto;
}
body .article-region .logo-words,
html .article-region .logo-words {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: '楷体';
  white-space: nowrap;
  width: 65rem;
  height: 50%;
  background-image: url("../resource/inc_canvas_rescale.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: opacity(70%);
}
body .search-region,
html .search-region {
  flex: 0.1;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .search-region .left-search-decoration,
html .search-region .left-search-decoration,
body .search-region .right-search-decoration,
html .search-region .right-search-decoration {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}
body .search-region .search-bar,
html .search-region .search-bar {
  width: 35rem;
  /* 输入框宽度 */
  padding: 0.5rem;
  /* 输入框内边距 */
  margin-right: 0;
  border-radius: 0.5rem 0px 0px 0.5rem;
  border: none;
  color: darkgray;
  font-size: 2.15rem;
  font-family: '仿宋';
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
body .search-region .search-bar:focus,
html .search-region .search-bar:focus {
  outline: #e9e0d2 solid 0.1rem;
}
body .search-region .search-button,
html .search-region .search-button {
  width: 7rem;
  margin-left: 0;
  padding: 0.5rem;
  /* 按钮内边距 */
  cursor: pointer;
  /* 鼠标悬停样式 */
  border: none;
  background-color: #807b75;
  border-radius: 0px 0.5rem 0.5rem 0px;
  color: #fff;
  font-size: 2.15rem;
  font-family: '仿宋';
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
body .search-region .search-button:hover,
html .search-region .search-button:hover {
  background-color: #e9e0d2;
  color: black;
}
body .function-region,
html .function-region {
  flex: 0.1;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .function-region .add-wordbook-button,
html .function-region .add-wordbook-button,
body .function-region .back-home-button,
html .function-region .back-home-button,
body .function-region .redirect-wordbook-button,
html .function-region .redirect-wordbook-button {
  background-image: url("../resource/character_button.png");
  width: 10rem;
  padding: 0.5rem;
  /* 按钮内边距 */
  cursor: pointer;
  /* 鼠标悬停样式 */
  margin-left: 2rem;
  margin-right: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #807b75;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #2d2d2d;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: '仿宋';
  outline: #e9e0d2 solid 0.1rem;
  filter: opacity(90%);
}
body .function-region .add-wordbook-button:hover,
html .function-region .add-wordbook-button:hover,
body .function-region .back-home-button:hover,
html .function-region .back-home-button:hover,
body .function-region .redirect-wordbook-button:hover,
html .function-region .redirect-wordbook-button:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  /* 悬停时增加更明显的阴影 */
}
body .card-region,
html .card-region {
  flex: 0.5;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .card-region .giant-character:hover,
html .card-region .giant-character:hover,
body .card-region .blackboard-region:hover,
html .card-region .blackboard-region:hover {
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  /* 悬停时增加更明显的阴影 */
}
body .card-region .giant-character,
html .card-region .giant-character {
  width: 42vh;
  height: 42vh;
  background-color: #dddddd;
  /* 不显示背景图片 */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
body .card-region .blackboard-region,
html .card-region .blackboard-region {
  width: 75vh;
  height: 42vh;
  border: none;
  margin-left: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-image: url("../resource/blackboard.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .card-region .blackboard-region .writable-region,
html .card-region .blackboard-region .writable-region {
  width: 72vh;
  height: 39vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
body .card-region .blackboard-region .writable-region div,
html .card-region .blackboard-region .writable-region div {
  font-size: 2.15rem;
  font-family: '楷体';
  color: #fafafa;
}
body .card-region .blackboard-region .writable-region::-webkit-scrollbar,
html .card-region .blackboard-region .writable-region::-webkit-scrollbar {
  display: none;
}
body .card-region .blackboard-region .writable-region:hover,
html .card-region .blackboard-region .writable-region:hover {
  cursor: text;
}
