/**
 * AUTHOR NAME: Tsung Yilee
 * AUTHOR EMAIL: свит_дрим@yandex.com
 */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    //设置背景图片
    background-image: url("../resource/examine/examine_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //多余的裁剪掉
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    .article-region {
        height: 30vh;
        //左右logo水平、垂直居中
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .left-logo, .right-logo {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 60%;
            width: auto;
            -webkit-user-drag: none;
        }
        .left-logo {
            visibility: hidden;
        }
        .logo-words {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
            font-weight: bold;
            font-family: '楷体';
            white-space: nowrap;
            width: 65rem;
            height: 50%;
            //设置背景图片
            background-image: url("../resource/examine/inc_canvas_rescale.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat; 
            filter: opacity(70%);
        }
    }
    .function-region {
        height: 10vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .left-function-decoration, .right-function-decoration {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 15vh;
            -webkit-user-drag: none;
        }
        button {
            background-image: url("../resource/examine/character_button.png");
            padding: 0.25rem; /* 按钮内边距 */
            cursor: pointer; /* 鼠标悬停样式 */
            margin-left: 2rem;
            margin-right: 2rem;
            border: none;
            border-radius: 0.5rem;
            background-color: rgb(128,123,117);
            box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
            color: rgb(45, 45, 45);
            font-size: 1.50rem;
            font-weight: bold;
            font-family: '仿宋';
            outline: rgb(233,224,210) solid 0.1rem;
            filter: opacity(90%);
        }
        button:hover {
            box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.6); /* 悬停时增加更明显的阴影 */
        }
        .function-container{
            display: flex;
            flex-direction: row; 
            align-items: center;
            @width: 120vh;
            width: @width;
            height: 100%;
            font-size: 2.00rem;
            font-family: '仿宋';
            font-weight: bold;
            color: black;
            cursor: help;
            .gradewordbook-container {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .underline-decoration {
                    color: red;
                    text-decoration: underline;
                    margin-left: 0.15rem;
                    margin-right: 0.15rem;
                }
                .option{
                    box-shadow: 0 0 0.05rem #ccc;
                    border-radius: 0.5rem; 
                    border: 0.05rem solid #cccccc;
                    height: auto;
                    padding: 0;
                    overflow: hidden;
                    margin-left: 0.15rem;
                    margin-right: 0.15rem;
                    select{
                        background-image: url("../resource/examine/select_background.png");
                        background-color: rgba(255, 255, 255, 0.5);
                        background-size: cover;
                        border: none;
                        outline: none;
                        line-height: 2.65rem;
                        width: 4rem;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        font-family: '仿宋';
                        font-size: 1.50rem;
                        font-weight: bold;
                        color: rgb(45, 45, 45);
                        text-align: center; 
                        padding: 0; 
                    } 
                }
                .fetch-gradewordbook-questions-button {
                    width: 5rem;
                    height: 2.65rem;
                    margin-left: 0.15rem;
                    margin-right: 0rem;
                }
            }
            .wordbook-container {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .underline-decoration {
                    color: red;
                    text-decoration: underline;
                }
                .fetch-wordbook-questions-button {
                    width: 5rem;
                    height: 2.65rem;
                    margin-left: 0.15rem;
                    margin-right: 0rem;
                }
            }
            .gradewordbook-container:hover, .wordbook-container:hover {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); /* 悬停时增加更明显的阴影 */
                border-radius: 0.5rem;
                border-style: solid;
                border-color: rgb(222, 222, 222);
                border-width: 0.05rem;
            }
        }
    }
    .card-region {
        height: 60vh;  //60vh
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div.questions-canvas {
            //按照比例缩放
            width: 150vh;
            height: 50vh;
            //设置背景图片
            background-image: url("../resource/examine/examine_canvas_rescale_v3.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: opacity(85%);
            display: flex;
            justify-content: center;
            align-items: center;
            .questions-container {
                //112 * 390 px
                width: 112vh;
                height: 39vh;
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                font-size: 2.15rem;
                font-family: '楷体';
                .prefix {
                    color: red;
                }
                .question-reply {
                    font-size: 2.00rem;
                    border: none; /* 取消所有边框 */
                    border-bottom: 0.03rem solid black; /* 底部边框样式 */
                    background-color: transparent;
                    font-family: '仿宋';
                    text-align: center;
                    width: 5rem;
                }
                .question-reply:focus {
                    outline: none;
                }
                .response-template {
                    .response-message, .response-answer {
                        color: red;
                    }
                }
            }
            .questions-container::-webkit-scrollbar {
                display: none;
            }
            .questions-container:hover {
                cursor: text;
            }
        }
        .questions-interaction {
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1vh;
            button {
                background-image: url("../resource/examine/character_button.png");
                padding: 0.25rem; /* 按钮内边距 */
                cursor: pointer; /* 鼠标悬停样式 */
                margin-left: 2rem;
                margin-right: 2rem;
                border: none;
                border-radius: 0.5rem;
                background-color: rgb(128,123,117);
                box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
                color: rgb(45, 45, 45);
                width: 7rem;
                font-size: 1.5rem;
                font-weight: bold;
                font-family: '仿宋';
                outline: rgb(233,224,210) solid 0.1rem;
                filter: opacity(90%);
            }
            button:hover {
                box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.6); /* 悬停时增加更明显的阴影 */
            }
        }
    }
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}

