body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../resource/home/home_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body .article-region,
html .article-region {
  flex: 0.3;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body .article-region .left-logo,
html .article-region .left-logo,
body .article-region .right-logo,
html .article-region .right-logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  width: auto;
}
body .article-region .logo-words,
html .article-region .logo-words {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: '楷体';
  white-space: nowrap;
  width: 65rem;
  height: 50%;
  background-image: url("../resource/home/inc_canvas_rescale.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: opacity(70%);
}
body .search-region,
html .search-region {
  flex: 0.1;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .search-region .left-search-decoration,
html .search-region .left-search-decoration,
body .search-region .right-search-decoration,
html .search-region .right-search-decoration {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}
body .search-region .search-bar,
html .search-region .search-bar {
  width: 35rem;
  /* 输入框宽度 */
  padding: 0.5rem;
  /* 输入框内边距 */
  margin-right: 0;
  border-radius: 0.5rem 0px 0px 0.5rem;
  border: none;
  color: darkgray;
  font-size: 2.15rem;
  font-family: '仿宋';
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
body .search-region .search-bar:focus,
html .search-region .search-bar:focus {
  outline: #e9e0d2 solid 0.1rem;
}
body .search-region .search-button,
html .search-region .search-button {
  width: 7rem;
  margin-left: 0;
  padding: 0.5rem;
  /* 按钮内边距 */
  cursor: pointer;
  /* 鼠标悬停样式 */
  border: none;
  background-color: #807b75;
  border-radius: 0px 0.5rem 0.5rem 0px;
  color: #fff;
  font-size: 2.15rem;
  font-family: '仿宋';
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
body .search-region .search-button:hover,
html .search-region .search-button:hover {
  background-color: #e9e0d2;
  color: black;
}
body .card-region,
html .card-region {
  flex: 0.6;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .card-region div,
html .card-region div {
  width: 15rem;
  height: 70%;
  background-color: rbga(224, 224, 224, 0.9);
  filter: opacity(95%);
  border-radius: 1rem;
  border: none;
  margin: 2rem;
  font-size: 1.25rem;
  font-family: '仿宋';
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
body .card-region div:hover,
html .card-region div:hover {
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  /* 悬停时增加更明显的阴影 */
}
