body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../resource/home/home_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body .article-region,
html .article-region {
  flex: 0.3;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body .article-region .left-logo,
html .article-region .left-logo,
body .article-region .right-logo,
html .article-region .right-logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  width: auto;
  -webkit-user-drag: none;
}
body .article-region .logo-words,
html .article-region .logo-words {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: '楷体';
  white-space: nowrap;
  width: 65rem;
  height: 50%;
  background-image: url("../resource/home/inc_canvas_rescale.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: opacity(70%);
}
body .search-region,
html .search-region {
  flex: 0.1;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .search-region .left-search-decoration,
html .search-region .left-search-decoration,
body .search-region .right-search-decoration,
html .search-region .right-search-decoration {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  -webkit-user-drag: none;
}
body .search-region .search-bar,
html .search-region .search-bar {
  width: 35rem;
  /* 输入框宽度 */
  padding: 0.5rem;
  /* 输入框内边距 */
  margin-right: 0;
  border-radius: 0.5rem 0px 0px 0.5rem;
  border: none;
  color: darkgray;
  font-size: 2.15rem;
  font-family: '仿宋';
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-image: url("../resource/home/searchbar_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.85;
  outline: #c8c8c8 solid 0.01rem;
}
body .search-region .search-bar::placeholder,
html .search-region .search-bar::placeholder {
  color: #000000;
}
body .search-region .search-bar:focus,
html .search-region .search-bar:focus {
  outline: #e9e0d2 solid 0.1rem;
}
body .search-region .search-button,
html .search-region .search-button {
  width: 7rem;
  margin-left: 0;
  padding: 0.5rem;
  /* 按钮内边距 */
  cursor: pointer;
  /* 鼠标悬停样式 */
  border: none;
  background-color: #807b75;
  border-radius: 0px 0.5rem 0.5rem 0px;
  color: #fff;
  font-size: 2.15rem;
  font-family: '仿宋';
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
body .search-region .search-button:hover,
html .search-region .search-button:hover {
  background-color: #e9e0d2;
  color: black;
}
body .card-region,
html .card-region {
  flex: 0.6;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .card-region div.character-card,
html .card-region div.character-card,
body .card-region div.wordbook-card,
html .card-region div.wordbook-card,
body .card-region div.examine-card,
html .card-region div.examine-card,
body .card-region div.phrase-card,
html .card-region div.phrase-card {
  width: 25vh;
  height: 70%;
  border-radius: 1rem;
  border-style: solid;
  border-color: #dedede;
  border-width: 0.05rem;
  margin: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  font-family: '仿宋';
  color: #3e4040;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
body .card-region div.character-card .card-theme,
html .card-region div.character-card .card-theme,
body .card-region div.wordbook-card .card-theme,
html .card-region div.wordbook-card .card-theme,
body .card-region div.examine-card .card-theme,
html .card-region div.examine-card .card-theme,
body .card-region div.phrase-card .card-theme,
html .card-region div.phrase-card .card-theme {
  flex: 2;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 2.4rem;
  font-weight: bolder;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .card-region div.character-card .card-content-container,
html .card-region div.character-card .card-content-container,
body .card-region div.wordbook-card .card-content-container,
html .card-region div.wordbook-card .card-content-container,
body .card-region div.examine-card .card-content-container,
html .card-region div.examine-card .card-content-container,
body .card-region div.phrase-card .card-content-container,
html .card-region div.phrase-card .card-content-container {
  flex: 8;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .card-region div.character-card .card-content-container .card-content,
html .card-region div.character-card .card-content-container .card-content,
body .card-region div.wordbook-card .card-content-container .card-content,
html .card-region div.wordbook-card .card-content-container .card-content,
body .card-region div.examine-card .card-content-container .card-content,
html .card-region div.examine-card .card-content-container .card-content,
body .card-region div.phrase-card .card-content-container .card-content,
html .card-region div.phrase-card .card-content-container .card-content {
  width: 90%;
  height: 100%;
  text-align: justify;
  text-indent: 2rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
}
body .card-region div.character-card .card-content-container .card-content span.theme-show,
html .card-region div.character-card .card-content-container .card-content span.theme-show,
body .card-region div.wordbook-card .card-content-container .card-content span.theme-show,
html .card-region div.wordbook-card .card-content-container .card-content span.theme-show,
body .card-region div.examine-card .card-content-container .card-content span.theme-show,
html .card-region div.examine-card .card-content-container .card-content span.theme-show,
body .card-region div.phrase-card .card-content-container .card-content span.theme-show,
html .card-region div.phrase-card .card-content-container .card-content span.theme-show {
  display: flex;
  text-align: center;
}
body .card-region div.character-card:hover,
html .card-region div.character-card:hover,
body .card-region div.wordbook-card:hover,
html .card-region div.wordbook-card:hover,
body .card-region div.examine-card:hover,
html .card-region div.examine-card:hover,
body .card-region div.phrase-card:hover,
html .card-region div.phrase-card:hover {
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  /* 悬停时增加更明显的阴影 */
  color: black;
}
body .card-region .character-card,
html .card-region .character-card {
  background-image: url("../resource/home/character_card_background.png");
}
body .card-region .wordbook-card,
html .card-region .wordbook-card {
  background-image: url("../resource/home/wordbook-card-background.png");
}
body .card-region .examine-card,
html .card-region .examine-card {
  background-image: url("../resource/home/exmaine_card_background.png");
}
body .card-region .phrase-card,
html .card-region .phrase-card {
  background-image: url("../resource/home/phrase_card_background.png");
}
